:root {
	--primary:#00ff87;
}

.logo {

	height : 48px;
	width : 48px;

}


a {
	text-decoration: none;;
}

.hero {

	background-image:url("/images/backgro.jpg") no-repeat;
	height:400px;


}

.hero_image {

	height: 300px;

}

.auth_image {
	height:300px;
}

.book_now {
	padding: 10px 20px;
	background-color: var(--primary);
	color:#FFF;
}

.book_now:hover{
	background-color: #FFF;
	color:var(--primary);
	border: 1px solid var(--primary);
}

.image__ {
	height: 64px;
	width: 64px;
}


.admin-login {
	height: 100vh;
}
.admin-login .card {
	max-width: 568px;
	width: 100%;
}

li{
	list-style-type: none;
}

	.nav-sm {
display: none;
	}

.show-image {
	border-radius: 10px;
}
.other-info {
	
	border-radius: 10px;
	background-color: #00ff87;
	border-radius: 10px;

}

.other-info .label {
	background-color: #0c0032;
	padding: 10px;
	border-radius: 10px;

	color:#fff;
	font-size: 20px;
}

.other-info .address-label {
	padding: 10px;
	font-size: 18px;
}

.other-info .text {
	font-size: 18px;
}

.box-shadow {
	box-shadow: 0 .3rem 1rem rgba(0,0,0,.15)!important;
}


/* /Show Page */
.available {
	position: relative;
	color: #000;
}
.available:after {
	position: absolute;
	content: "hh";
	color: transparent;
	height: 24px;
	width: 24px;
	top:0;
	left:110%;
	background-color: #00ff87;
}


.booked {
	position: relative;
	color: #000;
}
.booked:after {
	position: absolute;
	content: "hh";
	color: transparent;
	height: 24px;
	width: 24px;
	top:0;
	left:110%;
	background-color: gray;
	opacity: 0.4;
}


.calender {
	background-color: #d9d9d9;
	padding: 10px;

}
.calender_body {
	width: 100%;
	overflow-x: scroll;
	cursor: grab;

}
.calender_title {
	color: #5d3c81;
	width: 100px;
}

.calender_body_time {
	padding: 10px;
	border-radius: 10px;

}
.slot_available  {
	background-color: #00ff87;
	color: #000;
	cursor: pointer;
}

.slot_available:hover{
	border:2px solid #fff;
}
.slot_booked {
	border: 2px solid #000;
}

.btn-submit {

	padding: 10px;
	border-radius: 10px;
	background-color: #000;
	color: #fff;


}

.btn-submit:hover{
	border: 1px solid #000;
	background-color: white;
}


@media screen and (max-width:768px){

	.nav-sm {
		display: block;
		position: absolute;
		top:100%;
		right:6%;
		z-index: 9999999 !important;


	}
	

}